{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <header class="mb-4">
                    <h1 class="fw-bolder mb-1">{{ single_blog.title }}</h1>
                    <div class="text-muted fst-italic mb-2">
                        {{ single_blog.created_at }} by {{ single_blog.author }}
                    </div>
                    <a class="badge bg-warning text-light">
                        {{ single_blog.category.category_name }}
                    </a>
                </header>

                <figure class="mb-4">
                    <img class="img-fluid rounded" src="{{ single_blog.featured_image.url }}">
                </figure>

                <section class="mb-5">
                    <p class="fs-5">{{ single_blog.short_description }}</p>
                    <p class="fs-5">{{ single_blog.blog_body }}</p>

                    <!-- COMMENTS -->
                    <h4>Comments ({{ comment_count }})</h4>

                    {% if comments %}
                    {% for comment in comments %}
                    <div class="card mt-2 p-3">
                        <p class="mb-1">{{ comment.comment }}</p>
                        <small class="text-muted">
                            - {{ comment.user }} • {{ comment.created_at|timesince }} ago
                        </small>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p>No Comments Yet!</p>
                    {% endif %}


                    <br>

                    {% if user.is_authenticated %}
                    <form action="" method="POST">
                        {% csrf_token %}
                        <textarea name="comment" class="form-control" placeholder="Write Your Comment"></textarea>
                        <input type="submit" value="Submit" class="btn btn-primary mt-2">
                    </form>
                    {% else %}
                    <p>Please <a href="{% url 'login' %}">Login</a> to write a comment</p>
                    {% endif %}
                </section>
            </article>
        </div>

        <div class="col-lg-4">
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <ul class="list-unstyled">
                    {% for cat in categories %}
                    <li><a href="{% url 'posts_by_category' cat.id %}">{{ cat.category_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if social_links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ul class="list-unstyled">
                    {% for i in social_links %}
                    <li><a href="{{ i.link }}" target="_blank">{{ i.platform }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}